<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Co zadane?</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/model/Note.js"></script>
    <script type="text/javascript" src="js/model/Notes.js"></script>
    <script type="text/javascript" src="js/view/MenuView.js"></script>
    <script type="text/javascript" src="js/view/NoteView.js"></script>
    <script type="text/javascript" src="js/view/FormView.js"></script>
    <script type="text/javascript" src="js/view/PlaceholderView.js"></script>

    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <script type="text/template" id="menu-entry-template">
        <li><a href="#note/<%- id %>" data-id="<%- id %>"><%- title %></a></li>
    </script>

    <script type="text/template" id="note-template">
        <header>
            <h1><%- title %></h1>
            <a class="button details-trigger-submit" href="#editNote/<%-id%>">Edytuj</a>
        </header>
        <%= content %>
    </script>

    <script type="text/template" id="note-form-template">
        <div class="form-field">
            <label for="title-id">Tytuł</label>
            <input type="text" name="title" id="title-id" value="<%- title %>"/>
        </div>
        <div class="form-field">
            <label for="date-id">Data</label>
            <input type="date" name="date" value="<%- formDate %>" id="date-id"/>
        </div>

        <div class="form-field">
            <label for="content-id">Treść</label>
            <textarea name="content" id="content-id"><%- content %></textarea>
        </div>

        <div class="form-buttons">
            <button type="submit">Zapisz</button>
        </div>
    </script>
</head>
<body>

<header class="header">
    <h1 class="logo"><a href="#">Co zadane?</a></h1>
    <a class="button schedule-add" href="#addNote">Nowe zadanie</a>
</header>

<div class="container">
    <nav class="schedule">
        <ul>

        </ul>
    </nav>
    <article class="details">
        <div class="details-content">

        </div>
    </article>
</div>
<footer>
    Technikum Łączności
</footer>
</body>
</html>
